{{define "navbar"}}
<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      Go CRUD
    </a>
  </div>
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      home
    </a>
  </div>
  <div class="container-fluid">
    <a class="navbar-brand" href="/create">
      create employees
    </a>
  </div>
</nav>
{{ end }}